body {
    font-family: "Roboto", sans-serif; 
    color: #434455;
    background-color: #fff;
}
ul , ol {
    list-style-type: none;
}
a {
    text-decoration: none;
}
button {
  cursor: pointer;  
}

/* #region header */

.page-header {}

.header-nav {}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    margin-right: 76px;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.nav-list {}

.nav-item {}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.contacts {
    font-style: normal;
}

.contacts-list {}

.contacts-item {}

.contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}


/* #endregion */   


/* #region hero */
.hero {
background-color: #2e2f42; 
}

.hero-title {
font-weight: 700;
font-size: 56px;
line-height: 1.1;
letter-spacing: 0.02em;
text-align: center;
color: #fff;   
}

.order-btn:hover,
.order-btn:focus {
    background-color: #404bbf;
}
 
.order-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;   
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
}


/* #endregion */


/* #region team */
.team {
    background-color: #f4f4fd;
}

.team-title {
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.team-item {
    background: #fff;
}
.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.team-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
/* #endregion */


/* #region portfolio  */ 

.portfolio {

}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.portfolio-list { 
 
}

.portfolio-item {

}

.portfolio-name {

}

.portfolio-text {

}


/* #endregion */ 


/* #region footer */
.footer-logo {
    margin-bottom: 16px;
}

.page-footer {
    background-color: #2e2f42;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

/* #endregion */


